<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<link rel="shortcut icon" href="../images/favicon.ico">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<style>
  /* Remove the navbar's default rounded borders and increase the bottom margin */ 
  .navbar
  {
    margin-bottom: 50px;
    border-radius: 0;
  }
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron
  {
    margin-bottom: 0;
  }
  /* Add a gray background color and some padding to the footer */
  footer
  {
    background-color: #f2f2f2;
    padding: 25px;
  }
</style>