
<nav class="navbar navbar-light navbar-expand-md fixed-top bg-white clean-navbar">
    <div class="container" style="display: flex; flex-direction: row; align-content: normal;">

        <!-- Brand Link -->
        <div >
            <a class="navbar-brand ml-auto" href="/">DreamyDuoDesigns</a>
        </div>

        <!-- Collapse Button -->
        <div >
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- Links -->
        <div class="collapse navbar-collapse mr-auto" id="navcol-1" style="text-align: center;">
            <ul class="navbar-nav ">
                <li class="nav-item"><a class="nav-link" href="/Services">Services</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="/login">Login</a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="/register">Register</a></li> -->
            </ul>
        </div>
    </div>
</nav>