<!DOCTYPE html>
<html lang='en-us' data-bs-theme='dark'>

<head>
    <title>DreamyDuoDesigns - Gaming Stats</title>
    <%- include('./head') %>
    <link rel='stylesheet' href='/css/steam.css'>
</head>

<body>

    <%- include('./navbar') %>

    <!-- Modal -->
    <div class='modal fade' id='modal_reddit' role='dialog'>
        <div id='modal_content' class='modal-dialog'>
        </div>
    </div>

    <div class='jumbotron'>
        <div class='container text-center'>
            <h3>Most Popular PC Games</h3>      
            <p>Tracked via Steam and Reddit stats</p>
            <br><br>
        </div>
    </div>

    <div id='div_main' class="container-fluid row" style="height: 100vh; flex-direction: row; margin: 0px;">

        <!-- Filters -->            
        <div id='div_filter' class="col-12 col-sm-3 col-xl-2 overflow-auto" style="background-color: rgb(31, 35, 46) !important; border-radius: 6px 6px 6px 6px; margin-bottom: 6px; -ms-overflow-style: none; scrollbar-width: none;">
            <h3 style='padding: .5rem 0px 0px 0px; text-align: center; font-size: min(2.0vw, 18px);'>Filters</h3>

            <!--- Tag -->
            <div>
                <p>
                    <a class="btn btn-primary filter-buttons" style=' width: 100%;' data-bs-toggle="collapse" href="#div_filter_tags_items" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" onclick='onclick_filter(event)'>▷ Tags</a>
                </p>
                <div id='div_filter_tags_items' class="collapse multi-collapse">
                </div>
            </div>

            <!--- Category -->
            <div>
                <p>
                    <a class="btn btn-primary filter-buttons" style=' width: 100%;' data-bs-toggle="collapse" href="#div_filter_categories_items" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" onclick='onclick_filter(event)'>▷ Categories</a>
                </p>
                <div id='div_filter_categories_items' class="collapse multi-collapse">
                </div>
            </div>
            
            <!--- Genres -->
            <div>
                <p>
                    <a class="btn btn-primary filter-buttons" style=' width: 100%;' data-bs-toggle="collapse" href="#div_filter_genres_items" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" onclick='onclick_filter(event)'>▷ Genres</a>
                </p>
                <div id='div_filter_genres_items' class="collapse multi-collapse" >
                    <input type="text" class="form-control" placeholder='Search' style="margin-bottom: 6px;" aria-label="Text input with checkbox">
                    <!-- Item -->
                    <div class="input-group filter-items"  style="display: flex; margin-bottom: 6px;">
                        <div class='' style=" display: flex; position: relative;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex-grow: 1;">

                            <!-- Input Group Left  -->
                            <div class="input-group-prepend" style="display: flex;">
                                <div class="input-group-text" style="background-color: rgba(0,0,0,0); border: none;">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>

                            <!-- Input Group Middle  -->
                            <div style="display: flex;">
                                <div>Action</div>
                            </div>

                        </div>
                        <!-- Input Group Right  -->
                        <div class="input-group-append" style="display: flex; font-size: 12px; margin-right: 12px; font-weight: 700; color: var(--body-color); background-color: var(--muted-bg-color); border-radius: 10px; font-variant-numeric: tabular-nums;">
                            <div>
                                <span class="badge badge-pill badge-dark">7,751</span>
                            </div>
                        </div>

                    </div>

                    <!-- Item -->
                    <div class="input-group filter-items"  style="display: flex; margin-bottom: 6px; ">
                        <div class='' style=" display: flex; position: relative;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex-grow: 1;">

                            <!-- Input Group Left  -->
                            <div class="input-group-prepend" style="display: flex;">
                                <div class="input-group-text" style="background-color: rgba(0,0,0,0); border: none;">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>

                            <!-- Input Group Middle  -->
                            <div style="display: flex;">
                                <div>Adventure</div>
                            </div>

                        </div>
                        <!-- Input Group Right  -->
                        <div class="input-group-append" style="display: flex; font-size: 12px; margin-right: 12px; font-weight: 700; color: var(--body-color); background-color: var(--muted-bg-color); border-radius: 10px; font-variant-numeric: tabular-nums;">
                            <div>
                                <span class="badge badge-pill badge-dark">80,422</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--- Is free -->
            <div>
                <p>
                    <a class="btn btn-primary filter-buttons" style=' width: 100%;' data-bs-toggle="collapse" href="#div_filter_is_free_items" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" onclick='onclick_filter(event)'>▷ Free</a>
                </p>
                <div id='div_filter_is_free_items' class="collapse multi-collapse" >
                    <input type="text" class="form-control" placeholder='Search' style="margin-bottom: 6px;" aria-label="Text input with checkbox">
                    <!-- Item -->
                    <div class="input-group filter-items"  style="display: flex; margin-bottom: 6px;">
                        <div class='' style=" display: flex; position: relative;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex-grow: 1;">

                            <!-- Input Group Left  -->
                            <div class="input-group-prepend" style="display: flex;">
                                <div class="input-group-text" style="background-color: rgba(0,0,0,0); border: none;">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>

                            <!-- Input Group Middle  -->
                            <div style="display: flex;">
                                <div>Action</div>
                            </div>

                        </div>
                        <!-- Input Group Right  -->
                        <div class="input-group-append" style="display: flex; font-size: 12px; margin-right: 12px; font-weight: 700; color: var(--body-color); background-color: var(--muted-bg-color); border-radius: 10px; font-variant-numeric: tabular-nums;">
                            <div>
                                <span class="badge badge-pill badge-dark">7,751</span>
                            </div>
                        </div>

                    </div>

                    <!-- Item -->
                    <div class="input-group filter-items"  style="display: flex; margin-bottom: 6px; ">
                        <div class='' style=" display: flex; position: relative;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex-grow: 1;">

                            <!-- Input Group Left  -->
                            <div class="input-group-prepend" style="display: flex;">
                                <div class="input-group-text" style="background-color: rgba(0,0,0,0); border: none;">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>

                            <!-- Input Group Middle  -->
                            <div style="display: flex;">
                                <div>Adventure</div>
                            </div>

                        </div>
                        <!-- Input Group Right  -->
                        <div class="input-group-append" style="display: flex; font-size: 12px; margin-right: 12px; font-weight: 700; color: var(--body-color); background-color: var(--muted-bg-color); border-radius: 10px; font-variant-numeric: tabular-nums;">
                            <div>
                                <span class="badge badge-pill badge-dark">80,422</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--- Developers -->
            <div>
                <p>
                    <a class="btn btn-primary filter-buttons" style=' width: 100%;' data-bs-toggle="collapse" href="#div_filter_developers_items" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" onclick='onclick_filter(event)'>▷ Developers</a>
                </p>
                <div id='div_filter_developers_items' class="collapse multi-collapse" >
                    <input type="text" class="form-control" placeholder='Search' style="margin-bottom: 6px;" aria-label="Text input with checkbox">
                    <!-- Item -->
                    <div class="input-group filter-items"  style="display: flex; margin-bottom: 6px;">
                        <div class='' style=" display: flex; position: relative;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex-grow: 1;">

                            <!-- Input Group Left  -->
                            <div class="input-group-prepend" style="display: flex;">
                                <div class="input-group-text" style="background-color: rgba(0,0,0,0); border: none;">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>

                            <!-- Input Group Middle  -->
                            <div style="display: flex;">
                                <div>Action</div>
                            </div>

                        </div>
                        <!-- Input Group Right  -->
                        <div class="input-group-append" style="display: flex; font-size: 12px; margin-right: 12px; font-weight: 700; color: var(--body-color); background-color: var(--muted-bg-color); border-radius: 10px; font-variant-numeric: tabular-nums;">
                            <div>
                                <span class="badge badge-pill badge-dark">7,751</span>
                            </div>
                        </div>

                    </div>

                    <!-- Item -->
                    <div class="input-group filter-items"  style="display: flex; margin-bottom: 6px; ">
                        <div class='' style=" display: flex; position: relative;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex-grow: 1;">

                            <!-- Input Group Left  -->
                            <div class="input-group-prepend" style="display: flex;">
                                <div class="input-group-text" style="background-color: rgba(0,0,0,0); border: none;">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>

                            <!-- Input Group Middle  -->
                            <div style="display: flex;">
                                <div>Adventure</div>
                            </div>

                        </div>
                        <!-- Input Group Right  -->
                        <div class="input-group-append" style="display: flex; font-size: 12px; margin-right: 12px; font-weight: 700; color: var(--body-color); background-color: var(--muted-bg-color); border-radius: 10px; font-variant-numeric: tabular-nums;">
                            <div>
                                <span class="badge badge-pill badge-dark">80,422</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--- Publishers -->
            <div>
                <p>
                    <a class="btn btn-primary filter-buttons" style=' width: 100%;' data-bs-toggle="collapse" href="#div_filter_publishers_items" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" onclick='onclick_filter(event)'>▷ Publishers</a>
                </p>
                <div id='div_filter_publishers_items' class="collapse multi-collapse" >
                    <input type="text" class="form-control" placeholder='Search' style="margin-bottom: 6px;" aria-label="Text input with checkbox">
                    <!-- Item -->
                    <div class="input-group filter-items"  style="display: flex; margin-bottom: 6px;">
                        <div class='' style=" display: flex; position: relative;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex-grow: 1;">

                            <!-- Input Group Left  -->
                            <div class="input-group-prepend" style="display: flex;">
                                <div class="input-group-text" style="background-color: rgba(0,0,0,0); border: none;">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>

                            <!-- Input Group Middle  -->
                            <div style="display: flex;">
                                <div>Action</div>
                            </div>

                        </div>
                        <!-- Input Group Right  -->
                        <div class="input-group-append" style="display: flex; font-size: 12px; margin-right: 12px; font-weight: 700; color: var(--body-color); background-color: var(--muted-bg-color); border-radius: 10px; font-variant-numeric: tabular-nums;">
                            <div>
                                <span class="badge badge-pill badge-dark">7,751</span>
                            </div>
                        </div>

                    </div>

                    <!-- Item -->
                    <div class="input-group filter-items"  style="display: flex; margin-bottom: 6px; ">
                        <div class='' style=" display: flex; position: relative;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex-grow: 1;">

                            <!-- Input Group Left  -->
                            <div class="input-group-prepend" style="display: flex;">
                                <div class="input-group-text" style="background-color: rgba(0,0,0,0); border: none;">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>

                            <!-- Input Group Middle  -->
                            <div style="display: flex;">
                                <div>Adventure</div>
                            </div>

                        </div>
                        <!-- Input Group Right  -->
                        <div class="input-group-append" style="display: flex; font-size: 12px; margin-right: 12px; font-weight: 700; color: var(--body-color); background-color: var(--muted-bg-color); border-radius: 10px; font-variant-numeric: tabular-nums;">
                            <div>
                                <span class="badge badge-pill badge-dark">80,422</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--- Platform -->
            <div>
                <p>
                    <a class="btn btn-primary filter-buttons" style=' width: 100%;' data-bs-toggle="collapse" href="#div_filter_platforms_items" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" onclick='onclick_filter(event)'>▷ Platform</a>
                </p>
                <div id='div_filter_platforms_items' class="collapse multi-collapse" >
                    <input type="text" class="form-control" placeholder='Search' style="margin-bottom: 6px;" aria-label="Text input with checkbox">
                    <!-- Item -->
                    <div class="input-group filter-items"  style="display: flex; margin-bottom: 6px;">
                        <div class='' style=" display: flex; position: relative;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex-grow: 1;">

                            <!-- Input Group Left  -->
                            <div class="input-group-prepend" style="display: flex;">
                                <div class="input-group-text" style="background-color: rgba(0,0,0,0); border: none;">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>

                            <!-- Input Group Middle  -->
                            <div style="display: flex;">
                                <div>Action</div>
                            </div>

                        </div>
                        <!-- Input Group Right  -->
                        <div class="input-group-append" style="display: flex; font-size: 12px; margin-right: 12px; font-weight: 700; color: var(--body-color); background-color: var(--muted-bg-color); border-radius: 10px; font-variant-numeric: tabular-nums;">
                            <div>
                                <span class="badge badge-pill badge-dark">7,751</span>
                            </div>
                        </div>

                    </div>

                    <!-- Item -->
                    <div class="input-group filter-items"  style="display: flex; margin-bottom: 6px; ">
                        <div class='' style=" display: flex; position: relative;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex-grow: 1;">

                            <!-- Input Group Left  -->
                            <div class="input-group-prepend" style="display: flex;">
                                <div class="input-group-text" style="background-color: rgba(0,0,0,0); border: none;">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>

                            <!-- Input Group Middle  -->
                            <div style="display: flex;">
                                <div>Adventure</div>
                            </div>

                        </div>
                        <!-- Input Group Right  -->
                        <div class="input-group-append" style="display: flex; font-size: 12px; margin-right: 12px; font-weight: 700; color: var(--body-color); background-color: var(--muted-bg-color); border-radius: 10px; font-variant-numeric: tabular-nums;">
                            <div>
                                <span class="badge badge-pill badge-dark">80,422</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--- Release Year -->
            <div>
                <p>
                    <a class="btn btn-primary filter-buttons" style=' width: 100%;' data-bs-toggle="collapse" href="#div_filter_release_date_items" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" onclick='onclick_filter(event)'>▷ Release Year</a>
                </p>
                <div id='div_filter_release_date_items' class="collapse multi-collapse" >
                    <input type="text" class="form-control" placeholder='Search' style="margin-bottom: 6px;" aria-label="Text input with checkbox">
                    <!-- Item -->
                    <div class="input-group filter-items"  style="display: flex; margin-bottom: 6px;">
                        <div class='' style=" display: flex; position: relative;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex-grow: 1;">

                            <!-- Input Group Left  -->
                            <div class="input-group-prepend" style="display: flex;">
                                <div class="input-group-text" style="background-color: rgba(0,0,0,0); border: none;">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>

                            <!-- Input Group Middle  -->
                            <div style="display: flex;">
                                <div>Action</div>
                            </div>

                        </div>
                        <!-- Input Group Right  -->
                        <div class="input-group-append" style="display: flex; font-size: 12px; margin-right: 12px; font-weight: 700; color: var(--body-color); background-color: var(--muted-bg-color); border-radius: 10px; font-variant-numeric: tabular-nums;">
                            <div>
                                <span class="badge badge-pill badge-dark">7,751</span>
                            </div>
                        </div>

                    </div>

                    <!-- Item -->
                    <div class="input-group filter-items"  style="display: flex; margin-bottom: 6px; ">
                        <div class='' style=" display: flex; position: relative;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex-grow: 1;">

                            <!-- Input Group Left  -->
                            <div class="input-group-prepend" style="display: flex;">
                                <div class="input-group-text" style="background-color: rgba(0,0,0,0); border: none;">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>

                            <!-- Input Group Middle  -->
                            <div style="display: flex;">
                                <div>Adventure</div>
                            </div>

                        </div>
                        <!-- Input Group Right  -->
                        <div class="input-group-append" style="display: flex; font-size: 12px; margin-right: 12px; font-weight: 700; color: var(--body-color); background-color: var(--muted-bg-color); border-radius: 10px; font-variant-numeric: tabular-nums;">
                            <div>
                                <span class="badge badge-pill badge-dark">80,422</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
        <!--- Table -->
        <div class="col flex-column h-100 overflow-auto" style="border-radius: 6px; -ms-overflow-style: none; scrollbar-width: none; width: auto;">
                <!-- <div id='table_games2' class='flex-container' style='min-width: 364px;'> -->
                <table id='table_main' class="table table-hover">
                    <thead>
                        <tr>
                            <th scope='col'>#</th>
                            <th scope='col'></th>
                            <th scope='col'>Name</th>
                            <th scope='col'>24h Peak</th>
                            <th scope='col'>Reddit Subs</th>
                        </tr>
                    </thead>
                    <tbody id='table_games' style="font-weight: normal;" >
                        <!-- Rows -->
                    </tbody>
                </table>
        </div>

    </div>
    
    <div class='col'>
        <%- include('./footer') %>
    </div>


    <script type='text/javascript' src='../javascripts/steam.js?v=1.0.0'></script>
    <script type='text/plain; charset=UTF-8' charset='UTF-8' src='../javascripts/api.steampowered.com.json'></script>
</body>

</html>