nav
{
    background-color: rgb(0,0,0);
}

body
{
    background-color: rgb(22,25,32);
}

.flex-container
{
    /* We first create a flex layout context */
    display: flex;
  
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
  
    /* Then we define how is distributed the remaining space */
    justify-content: space-evenly;
  }


.container 
{
    /* max-width: 700px; */
    padding-left: 2px;
    padding-right: 2px;
    margin-left: auto;
    margin-right: auto;

    /* max-width: 1000px; */
}

.filter-buttons
{
    text-align: left;
    font-size: min(2.0vw, 18px);
}

table 
{
    background-color: rgb(31,35,46);
    border-radius: 6px 6px 6px 6px;
    text-align: center;
    overflow-x: auto;
    /* padding-top: 0rem !important; */
    /* padding-bottom: 0rem !important; */
}

tr
{
    padding: 0px !important;
}

th
{
    color: #fff;
    text-align: center !important;
    vertical-align: middle;
    font-size: min(2.0vw, 18px);
    /* padding: 1rem !important; */
    /* padding: 1rem, 0rem, 1rem, 0rem !important; */
}

td
{
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: min(2.0vw, 18px);
    /* padding-top: 0rem !important;
    padding-bottom: 0rem !important; */
    max-width: 140px;
    padding: 0rem !important;
}
a
{
    padding: 0px;
}


@media only screen and (min-width: 576px)
{
    #div_filter
    {
        height: 100vh;
    }
}

@media only screen and (max-width: 576px)
{
    #div_main
    {
        flex-direction: column !important;
    }
    .filter-buttons
    {
        text-align: center;
    }

}

.filter-items
{
    display: flex;
    align-items: center;
    /* padding: .375rem .75rem; */
    font-size: min(1.6vw, 14px);
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    /* background-color: var(--bs-tertiary-bg); */
    /* border: var(--bs-border-width) solid var(--bs-border-color); */
    /* border-radius: .375rem; */
}

.filter-items:hover
{
    color: grey;
    background-color: #1d202b;
}

.badge-pill
{
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem;
}

.badge-primary
{
	color: #fff;
	background-color: #007bff;
}

.badge-dark
{
	color: #fff;
	background-color: #343a40;
}

.img-thumbnail
{
    border: rgba(0, 0, 0, 0) !important;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0) !important;

    /* height: 100px !important;
    width: 200px !important; */
    /* margin-left: auto;
    margin-right: auto; */
    min-height: 40px;
    /* height: 40px; */
    max-height: 120px;
    vertical-align: middle;
    padding: 0px !important;
    /* height: 100%; */
}

.flex-item
{
    /* display: flex; */
    
    padding: 0px;
    box-sizing: border-box;
    

    text-align: center;
    font-size: min(2.0vw, 18px);

    align-items: center;
    justify-content: center;
}
